body, h1,h2,h3,h4,h5,h6 
	{font-family: "Montserrat", sans-serif}

.w3-row-padding img 
	{margin-bottom: 12px}

.w3-sidebar 
	{width: 120px;background: #9b9b9b;}

#main {margin-left: 120px}

@media only screen and (max-width: 600px) {#main {margin-left: 0}}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: #E2E8CE;
}

a:active {
  text-decoration: underline;
}

